<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <script src=" @Url.Content("~/scripts/jquery-3.5.1.js")"></script>
    @RenderSection("styles", false);

</head>
<body>
    @*<div> @RenderBody() </div>*@

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="page-header">
                    <h1>
                        Desenvolvimento	em	ASP.NET	MVC
                        <small class="text-danger">
                            Utilizando o Bootstrap
                        </small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xs-3 col-md-3">
                <ul class="nav nav-pills nav-stacked flex-column">
                    <li id="liHome" class="nav-item" role="presentation">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li id="liCategorias" class="nav-item" role="presentation">
                        @Html.ActionLink("Categorias", "Index", "Categorias")
                    </li>
                    <li id="liFabricantes" class="nav-item" role="presentation">
                        @Html.ActionLink("Fabricantes", "Index", "Fabricantes")
                    </li>
                    <li id="liProdutos" class="nav-item" role="presentation">
                        @Html.ActionLink("Produtos", "Index", "Produtos")
                    </li>

                </ul>
            </div>
            <div class="col-xs-9 col-md-9">
                @RenderBody()
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xs-12 col-md-12 bg-dark">
                <small class="text-light">Layout com Bootstrap por Priscila Ferreira</small>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/scripts/bootstrap.js")"></script>

    @RenderSection("ScriptPage", false);
</body>
</html>

<script>
    $('.nav-item a').addClass('nav-link');
</script>